.logo1{
    height: 260px;
    width: 460px;
}
.descrip{
font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
}
.eslogan{
    font-size: 60px;
}
.title1{
    font-size: 20px;
}
.modas{
    height: 250px;
    width: 100px;
}
.espacio{
    margin-top: 40px;
}