
.form-control {
    border-radius: 0;
    padding: 15px;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
    outline: none; 
    
}

h2 {
    font-size: 45px;
    line-height: 55px;
    margin: 0px 0 20px 0;
}

p {
    margin: 20px 0;
}

button, .btn{
    width: 100%;
    height: 55px;
    border-radius: 0;
}

/* form{
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 */
.icon {
  margin-right: 8px; /* Ajusta la cantidad de espacio según tus preferencias */
}

.col-cust{
    margin: auto;
}

.embed-responsive-item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}